@model AppUser

<td class="font-weight-bold">@Model.Name</td>
<td>@Model.CalcTodaySalesAmt().ToString("c")</td>
<td>@Model.CalcLastWeekUserSales().ToString("c")</td>
<td>@Model.CalcLastTwoWeekUserSales().ToString("c")</td>
<td>@Model.CalcLastThreeWeekUserSales().ToString("c")</td>
<td>@Model.CalcLastFourWeekUserSales().ToString("c")</td>
<td>@Model.CalcMonthToDateUserSales().ToString("c")</td>
<td>@Model.CalcYearToDateUserSales().ToString("c")</td>
